<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>

    <link rel="shortcut icon" href="../image/InstaTurbo.ico" />

    <link rel="stylesheet" type="text/css" href="../script/jQuery/Tooltip/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/Global.css" />
    <link rel="stylesheet" type="text/css" href="../css/Themes/Gray_657687.css" />
    <link rel="stylesheet" type="text/css" href="../font/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="../script/Foundation/foundation.css" />
    <link rel="stylesheet" type="text/css" href="../css/foundation-fix.css" />

    <script type="text/javascript" src="../script/jQuery/jquery.js" charset="utf-8"></script>
    <script type="text/javascript" src="../script/jQuery/jquery.mb.browser.js" charset="utf-8"></script>
    <script type="text/javascript" src="../script/jQuery/jquery.mousewheel.js" charset="utf-8"></script>
    <script type="text/javascript" src="../script/jQuery/jquery.blockUI.js" charset="utf-8"></script>
    <script type="text/javascript" src="../script/Foundation/foundation.js" charset="utf-8"></script>
    <script type="text/javascript" src="../script/Foundation/what-input.js" charset="utf-8"></script>
    <script type="text/javascript" src="../script/TextEncoding.js"></script>
    <script type="text/javascript" src="../script/GlobalUtilities.js"></script>
    <script type="text/javascript" src="../script/OverrideAlerts.js"></script>
    <script type="text/javascript" src="../script/jQuery/Tooltip/jquery.tooltip.js"></script>
    <script type="text/javascript" src="../script/json2.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery(document).foundation();
        });
    </script>

    <style type="text/css">
        .rv-comic {
            font-family:'Comic Sans MS', cursive, sans-serif;
        }
    </style>
</head>
<body class="ColdBackgroundColor Direction TextAlign">
    <div class="small-10 medium-9 large-8 row align-center rv-border-radius-1 SoftBackgroundColor"
         style="margin:5rem auto 0rem auto; padding:1rem;">
        <div class="small-10 medium-8 large-6 row align-center rv-border-radius-1 rv-comic"
             style="margin:0rem; padding:1rem; font-size:2rem; text-align:center">
            You Can Only Use Our Android Application
        </div>
    </div>
</body>
</html>
